$box-background: #ffffff;
$backgroundColor: #d9e2ed;
$logo-black: #04090e;
$logo-orange: #f3971b;

$wb_bluegrey: #D8E2F0;
$wb_blue2: #4EACE1;
$wb_yellow: #ffd700;
$wb_green: #CCD626;
$wb_blue: #1E71B7;
$wb_red: #A40B03;
$wb_orange: #ff9900;
$wb_bluegrey2: #A3C4E9;
$wb_darkgrey: #2c2c2c;
$wb_orange2: #EB800F;
$wb_grey: #969696;
$wb_lightgrey: #D6D6D9;

#puzzles{

	#puzzle-svg-1{
		margin-left: 0;
	}
	.puzzle-svg {
		pointer-events: none;
		.puzzle-link {
			pointer-events: all;
		}
		.title{
			font-size: 40px;
			font-family: Bree Serif;
			fill: $wb_grey;
			pointer-events: none;
		}

		.desc{
			font-size: 22px;
			font-family: Open Sans;
			fill: $wb_grey;
			pointer-events: none;
		}

		.ficon{
			font-family: FontAwesome;
			font-size: 40px;
			fill: $wb_grey;
			content: "\f0c4";
		}

		.puzzle-path{
			fill: url(#puzzle-bg);
			stroke:#ffffff;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-width:1%;
		}

		.icon{
			.path{
				fill:none;
				stroke:$wb_grey;
				stroke-linecap:round;
				stroke-linejoin:round;
				stroke-width:1.92px;
			}
		}



		a:hover{

			.puzzle-path{
				fill: url(#puzzle-bg-hover);
			}

			.title{
				fill: #ffffff;
			}

			.desc{
				fill: #ffffff;
			}

			.icon{
				.path{
					stroke:#ffffff;
					stroke-width:2.3px;
				}
			}
		}

		float: left;

		@media(min-width:723px){
			margin-left:-6.4%;
			width: 28.5%;

			&.down{
				margin-top:6.4%;
			}
		}
		@media(max-width:723px){
			margin-left:-11.4%;
			width: 50.5%;

			&.down{
				margin-top:11.4%;
			}

			&#puzzle-svg-4{
				margin-top: -11.4%;
			}
			&#puzzle-svg-3{
				margin-top: -22.8%;
				margin-left: 0;
			}
		}
	}
	margin:auto;
}

.content-block {
	background-color: $box-background;
	position: relative;
}

.container:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.clear { clear:both; }

#main-menu{
	background-color: $box-background;
	margin-top: 0px;
}

.pusher.content{
	margin-top: 2rem;
}

#mobile-dot-menu .menu{
	background: transparent;
}

#mobile-menu{
	.search .prompt{
		border-width: 0;
	}

	.compact.menu .item::before
	{
		background: transparent;
	}

	.logo{
		padding: 6px 12px 0 12px;
	}
}

#menu-nav > .item {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;

	.icon{
		.path{
			fill:none;
			stroke:$wb_darkgrey;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-width:5px;
		}
		width: 20px;
		height: 20px;
	}

}

.meta, .extra{
	color: $wb_orange2;
	.date{
		font-family: Open Sans;
		font-weight: bold;
		color: $wb_orange2;
	}
	.details{
		color: $wb_orange2 !important;
	}
	.wb-link{

		.wb-icon{
			width: 14px;
			display: inline-block;
			margin: 4px 4px 0 0 !important;
			vertical-align: middle;

		}
		.wb-name{
			font-family: Open Sans Condensed;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			color: rgba(0,0,0,.4);
		}
		.wb-name:hover{
			color: rgba(0,0,0,.87)
		}
	}
}

@media only screen and (max-width: 768px) {
	.content{
		.description{
			display: none !important;
		}
		.extra{
			display: none !important;
		}
	}
}

#popup-menu{
	width: 100%;
	color: white;
	p{
		color: white;
	}

	.ui.items {
    	margin: 0;

	}
	.item{
		padding: 8px 0;
		margin: 0.2rem;
		color: white;
		a{
			color: white;
		}
		.content{
			min-height: 65px;
		}
		img{
			border: solid;
			border-width: 1px;
			border-color: white;
			
		}
		.date{
			color: white;
		}
		.title{
			padding: 4px 0;
		}
		.location{
			color: white;
		}
	}
	.item:hover{
		a{
			color: $wb_lightgrey;
		}
		color: $wb_lightgrey;
	}
	display: none;
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('/media/colorbg/yellow.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	a{
		font-size: 1.4em;
		color: $wb_darkgrey;
		font-family: 'Open Sans';
		&.image{
			width: 65px;
		}
	}
	div.column{
		@media(max-width:723px) {
			padding: 1px 10px;
			margin-top: 13px;
			border-left: 1px solid #d29612;
			width: 33% !important;
			&>div>a{
				font-size: 1.6em;
				color: #ffffff;
			}
		}
	}
	.header{
		color: #ffffff;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed';
		font-weight: bold;
		font-size: 1.4em;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding-bottom: 4px;
	}
	.image + .content{
		padding-left: 1em;
	}
}

.marked-emoji{
	height: 15px;
}

.instagram{
	.column{
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
}

.label.icon{
	position: absolute;
	right: 1rem;
	top: 0rem;
	width: 55px;
	height: 55px;
	color: white;
	font-size: 3em;
	font-weight: normal;
	line-height: 1.5em;
	vertical-align: text-bottom;
	background-color: $wb_bluegrey2;
}

.popup-menu-btn .icon{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.popup-menu-btn .icon.halfway.rotated{
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


.logo{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin: auto;
	display: inline-block;
	width: 100%;
	svg{
		display: block;
		margin: auto;
		width: 100%;
		max-width: 260.75px;
	}
	.logo-text{
        font-size: 23.4px;
        fill: #959595;
        font-family: 'Open Sans Condensed';
        font-weight: bold;
        letter-spacing: 0.05em;
	}

	&.host{
		.logo-text{
	        font-size: 28px;
		}
	}

	.logo-weitblick {
		fill: $logo-black;
	}

	.logo-puzzle {
		fill: $logo-orange;
	}

	.claim{

	}
	.city{

	}

	&.inverse{
		.logo-weitblick{
			fill: white;
		}
		.logo-text{
			fill: white;
		}
	}
}

#logo-inverted {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.hidden.menu {
	display: none;
}

.masthead.segment {
	min-height: 700px;
	padding: 1em 0em;
}
.masthead .logo.item img {
	margin-right: 1em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 50px 0;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.vertical.footer.segment {
	margin-top: 2rem;
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

#header-image{
	.dimmer {
		background-color: rgba(255, 255, 255, .55);
		text-align: left;
		justify-content: left;
		align-items: start;
	}

	.ui.fluid.default.image {
		padding-top: 350/959*100%;
		background-position: center;
		background-size: cover;
	}
}

.highcharts-credits{
	display: none;
}


#icon-links {
	.icon{
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		font-size: 2.3em;
		text-align: center;
		color: #ffffff;
		width: 50px;
		margin-right: 0;
	}
	width: 50px;
	position: absolute;
	right: -50px;
	top: 0;
	padding: 0;
	a {
		vertical-align: middle;
		text-align: center;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		background: $wb_bluegrey2;
	}
	a:hover {
		background: $wb_orange2;
	}

	@media(max-width:723px) {
		position: initial;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		width: 100vw;
		background: #969696;

		a {
			width: 100%;
			.icon {
				width: 100%;
			}
		}
	}
}

.column.split-space {
	background: $backgroundColor;
    width: 20px !important;
    padding: 0 !important;
}

.row.split-space {
	background: $backgroundColor;
    height: 20px !important;
    padding: 1rem !important;
		margin: 0 -1rem 0 -1rem !important;
}

@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

.ui.segment{
	margin-top: 2rem;

	.title.header{
		text-transform: uppercase;
		font-family: "Open Sans Condensed";
		font-weight: normal;
		font-size: 2rem;

	}
}

a.details{
	color: $wb_orange2;
}
.ui.orange.ribbon.label{
	background: $wb_orange2 !important;
}
// custom override here. Did not work through input.variables nor search.variables
.ui.search .prompt{
	border-radius: 0 !important;
}
.ui.grid > .row > .secondary.column, .ui.grid > .secondary.column, .ui.grid > .secondary.row
{
	background-color: white !important;
}


p{
	font-size: 1.2rem;
}
