__pycache__
migrations
djangoenv
.idea
deploy.sh
db.sqlite3
weitblick/media/posts*
update-server.sh
wbcore/static/css/wbcore.css
weitblick/static/css/wbcore.css
weitblick/static/css/wbcore.css.map
weitblick/media/photologue/photos/cache
weitblick/media/images/photos/cache
wbcore/static/semantic/node_modules/
bower_components
node_modules
semantic/dist/components
semantic/dist/themes/*
!semantic/dist/*.js
!semantic/dist/*.css
!semantic/dist/themes/default/
wbcore/static/semantic/dist/components/
.vscode