[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-countries = "*"
django-sass-processor = "*"
django-photologue = "*"
django-localflavor = "*"
django-filter = "*"
django-google-maps = "*"
elasticsearch = "<3,>=2"
django-haystack = "*"
pytidylib = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
libsass = "*"
"num2words" = "*"
django-modeltranslation = "*"
"django-tinymce4-lite" = "*"
python-slugify = "*"
Django = "==2.1.5"
django_compressor = "*"
Markdown = "*"
Pillow = "*"
django-scheduler = "*"

[dev-packages]

[requires]
python_version = "3.6"
