Django==2.2.3
django-countries
django-sass-processor
django-photologue==3.9
django-compressor
django-localflavor
django-filter
django-google-maps
elasticsearch>=2,<3
django-haystack
pytidylib
psycopg2-binary
djangorestframework
Pillow
libsass
num2words
markdown
django-modeltranslation
django-tinymce4-lite
python-slugify
django-microsoft-auth
django-scheduler
form_designer
django-el-pagination
