Django==2.1.5
django-cookie-law
django-countries
django-sass-processor
django-photologue
django-compressor
django-localflavor
django-filter
django-google-maps
elasticsearch>=2,<3
django-haystack
pytidylib
psycopg2-binary
djangorestframework
Pillow
libsass
num2words
markdown
django-modeltranslation
django-tinymce4-lite
python-slugify