{% if host %}

<div class="ui list">
    {% if host.address %}
        <div class="item">
            <i class="large envelope open text icon"></i>
            <div class="content">
                {{ host.name }}
                <br>{{ host.address.street }}
                <br>{{ host.address.postal_code }} {{ host.address.city }}
                <br>{{ host.address.country.name }}
            </div>
        </div>
    {% endif %}
    <div class="ui hidden divider"></div>

    {% if host.email %}
        <div class="item">
            <i class="large at icon"></i>
            <div class="content">
                {{ host.email }}
            </div>
        </div>
    {% endif %}
</div>

{% endif %}

