{% load static %}

<div class="item">
  {% if not no_image %}
    <a class="image" href="{% if host_slug %}{% url 'blog-post' host_slug=host_slug post_id=post.pk %}{% else %}{% url 'blog-post' post_id=post.pk %}{% endif %}">
      {% if post.image %}
        <img src="{{ post.image.get_cardsize_url }}" alt="{{ post.image.title }}">
      {% else %}
        <div class="image" style="margin-bottom:15px;">{% include 'wbcore/svgs/placeholder.svg' with text="Blog"%}</div>
      {% endif %}
    </a>
  {% endif %}
    <div class="content">
        <div class="meta">
            <span class="category">{{ post.published|date:"D, j. M Y"}}</span>
            {% if post.host %}
              <a href="{% url 'host' host_slug=post.host.slug %}" class="wb-link">
                <span class="wb-icon">{% include 'wbcore/svgs/puzzle-icon.svg' %}</span>
                <span class="wb-name">{{ post.host.city }}</span>
              </a>
            {% endif %}
        </div>
        <a class="header" href="{% if host_slug %}{% url 'blog-post' host_slug=host_slug post_id=post.pk %}{% else %}{% url 'blog-post' post_id=post.pk %}{% endif %}">{{ post.title }}</a>

        <div class="description">
            <p>{% if post.teaser %}{{ post.teaser | safe | truncatewords:30}}{% else %}{{ post.text| safe |truncatewords:30 }}{% endif %}</p>
        </div>
        <div class="extra">
            <img class="ui avatar image" src="{% get_media_prefix %}kristy.png">{{ post.author_name }}
        </div>
    </div>
</div>
