{% extends 'wbcore/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="ui one column stackable grid container">
        {% include 'wbcore/image-header.html' with title='Blog' image='/static/images/blog_header.jpg'%}

        <div class="ten wide column divided items">
            <div class="ui segment">
                {% include 'wbcore/item_list.html' %}
            </div>
        </div>
        <div class="six wide column divided items">
            <div class="ui segment">
                {% include 'wbcore/list_filter.html' %}
            </div>
        </div>
    </div>

{% endblock %}




