{% load static %}
{% load humanize %}
<div class="ui feed">
{% for event in dot_nav.events %}
        <div class="item">
            <div class="label">
                <div class="date"><i class="clock outline icon"></i> {{ event.start | naturalday:"d. M" }} {{ event.start | time:"H:i" }}</div>
            </div>
            <div class="title">
                {% if host %}
                    <a class="summary" href="{% url 'event' event_slug=event.slug host_slug=host.slug %}">
                        {{ event.title | truncatechars:20 }}
                    </a>
                {% else %}
                    <a class="summary" href="{% url 'event' event_slug=event.slug %}">
                        {{ event.title | truncatechars:20 }}
                    </a>
                {% endif %}
            </div>
            <div class="description">
                <i class="map marker alternate icon"></i>
                {% if event.location.city %}{{ event.location.city }}{% endif %}
                {% if event.location.name %}{{ event.location.name }}{% endif %}
            </div>
        </div>
{% endfor %}
</div>
