{% load static %}
{% load humanize %}

{% for occ in dot_nav.occurrences %}
        <div class="item">
            <div class="content">
                <div class="date">
                    <i class="clock outline icon"></i>
                    {{ occ.start | naturalday:"d. M" }} {{ occ.start | time:"H:i" }}
                    {% if occ.recurring %}
                        <i class="redo alternate icon"></i>
                        {% if occ.frequency_short %} {{ occ.frequency_short }} {% endif %}
                    {% endif %}
                </div>
                <div class="title">
                    {% if host %}
                        <a href="{% url 'event' event_slug=occ.event.slug host_slug=host.slug %}">
                            {{ occ.title | truncatechars:20 }}
                        </a>
                    {% else %}
                        <a href="{% url 'event' event_slug=occ.event.slug %}">
                            {{ occ.title | truncatechars:20 }}
                        </a>
                    {% endif %}
                </div>
                {% if occ.location %}
                    <div class="location">
                        <i class="map marker alternate icon"></i>
                        {{ occ.location }}
                    </div>
                {% endif %}
            </div>
        </div>
{% endfor %}

