{% load static %}
{% load i18n %}
{% load humanize %}

<div class="ui {% language 'en' %}{{ about_width | apnumber }}{% endlanguage %} wide column unstackable items">
    <a class="ui item header" href="{{ dot_nav.about.link }}">{{ dot_nav.about.name }}</a>
    {% for key, entry in dot_nav.about.entries.items %}
        <div class="ui item"><a href="{{ entry.link }}"><i class="{{ entry.icon }}"></i> {{ entry.name }}</a></div>
    {% endfor %}
</div>

<div class="ui {% language 'en' %}{{ news_width | apnumber }}{% endlanguage %} wide column unstackable items">
    <a class="ui item header" href="{{ dot_nav.news.link }}">{{ dot_nav.news.name }}</a>
    {% for item in dot_nav.news.items %}
        {% include 'wbcore/dot_nav_item.html' with type='news-post' %}
    {% endfor %}
</div>

{% if blog_width != 0 %}
<div class="ui {% language 'en' %}{{ blog_width | apnumber }}{% endlanguage %} wide column unstackable items">
    <a class="ui item header"href="{{ dot_nav.blog.link }}" >{{ dot_nav.blog.name }}</a>
    {% for item in dot_nav.blog.items %}
        {% include 'wbcore/dot_nav_item.html' with item=item type='blog-post' %}
    {% endfor %}
</div>
{% endif %}

<div class="ui {% language 'en' %}{{ facts_width | apnumber }}{% endlanguage %} wide column unstackable items">
    <a class="ui item header" href="{{ dot_nav.facts.link }}">{{ dot_nav.facts.name }}</a>
    {% for key, entry in dot_nav.facts.entries.items %}
        <div class="ui item"><a href="{{ entry.link }}"><i class="{{ entry.icon }}"></i> {{ entry.name }}</a></div>
    {% endfor %}
</div>

<div class="ui {% language 'en' %}{{ events_width | apnumber }}{% endlanguage %} wide column unstackable items">
    <a class="ui item header" href="{{ dot_nav.events.link }}">{{ dot_nav.events.name }}</a>
    {% for item in dot_nav.events.items %}
        {% include 'wbcore/dot_nav_item.html' with type='event' %}
    {% endfor %}
</div>
