{% load static %}
<div class="item">
    {% if image %}
        <a href="{% url type post_id=id %}" class="ui top aligned image">
            <img src="{{ image.get_menusize_url }}" class="thumbnail" alt="{{ image.title }}">
        </a>
    {% elif type == 'event' %}
        <i class="clock outline icon"></i>
    {% endif %}

    <div class="content">
        {% if type == 'event'%}
            <a href="{% url type event_slug=slug %}">{{ title }}</a>
            <p>{{ show_date | safe }}</p>
        {% else %}
            <a href="{% url type post_id=id %}">{{ title }}</a>
            <p>{{ desc }}</p>
        {% endif %}
    </div>
</div>
