{% load static %}
{% load martortags %}
<div class="item">
    {% if image %}
        {% if host %}
            <a href="{% url type post_id=id host_slug=host.slug %}" class="ui top aligned image">
                <img src="{{ image.get_menusize_url }}" class="thumbnail" alt="{{ image.title }}">
            </a>
        {% else %}
            <a href="{% url type post_id=id %}" class="ui top aligned image">
                <img src="{{ image.get_menusize_url }}" class="thumbnail" alt="{{ image.title }}">
            </a>
        {% endif %}
    {% elif type == 'event' %}
        <i class="clock outline icon"></i>
    {% endif %}

    <div class="content">
        {% if type == 'event'%}
            {% if host %}
                <a href="{% url type event_slug=slug host_slug=host.slug %}">{{ title }}</a>
            {% else %}
                <a href="{% url type event_slug=slug %}">{{ title }}</a>
            {% endif %}
            <p>{{ show_date | safe }}</p>
        {% else %}
            {% if host %}
                <a href="{% url type post_id=id host_slug=host.slug %}">{{ title }}</a>
            {% else %}
                <a href="{% url type post_id=id %}">{{ title }}</a>
            {% endif %}
            <p>{{ desc | safe_markdown | striptags }}</p>
        {% endif %}
    </div>
</div>
