{% load static %}

<!-- occ = occurrence of an event, use occ.event. for attributes not in original Event class by django-scheduler -->

<div class="item">
  <a class="image" href="{% if host_slug %}{% url 'event' host_slug event_slug=occ.event.slug %}{% else %}{% url 'event' event_slug=occ.event.slug %}{% endif %}">
      {% if occ.image %}
      <img src="{{ occ.event.image.get_listsize_url }}" alt="{{ occ.event.image.title }}">
      {% else %}
          <div class="image" style="margin-bottom:15px;">{% include 'wbcore/svgs/placeholder.svg' with text="Event"%}</div>
      {% endif %}
  </a>

  <div class="content">
    <div class="meta">
      <span class="date">
        {% if occ.start.day == occ.end.day %}
          {{ occ.start|date:"D, j. M Y"}}  &ensp; {{ occ.start|date:"H:i"}} - {{ occ.end|date:"H:i"}}
        {% else %}
          {{ occ.start|date:"D, j. M Y"}} &ensp; &mdash; &ensp; {{ occ.end|date:"D, j. M Y"}}
        {% endif %}
      </span>
      {% if occ.event.location %} | <span>{{ occ.event.location.name }}</span>{% endif %}
    </div>
    <a class="ui medium header" href="{% if host_slug %}{% url 'event' host_slug=host_slug event_slug=occ.event.slug %}{% else %}{% url 'event' event_slug=occ.event.slug %}{% endif %}">{{ occ.title }}</a>

    <div class="description">
      {% if occ.event.teaser %} <p>{{ occ.event.teaser | safe }}</p>
      {% else %} <p>{{ occ.description | safe | truncatechars:120 }}</p>
      {% endif %}
    </div>
    <div class="extra content">
      {% for host in occ.event.host.all %}
        <div class="meta">
          {% if host %}
            <a href="{% url 'host' host_slug=host.slug %}" class="wb-link">
              <span class="wb-icon">{% include 'wbcore/svgs/puzzle-icon.svg' %}</span>
              <span class="wb-name">{{ host.name|cut:"Weitblick " }}</span>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
