{% extends 'wbcore/basic.html' %}
{% load martortags %}
{% load staticfiles %}

{% block main %}
    {% include 'wbcore/image-header.html' with title=event.title image=event.image default='/images/events_header.jpg' %}
    <div class="ui segment">
        {{ event.description | safe_markdown }}
    </div>

    {% if form %}
        <div class="ui segment">
            {% include "wbcore/segment_header.html" with icon='pen fancy' title='Anmeldung' %}
            {% include 'wbcore/event_form.html' with event=event form=form %}
        </div>
    {% endif %}

{% endblock %}