{% load i18n %}
{% trans "Where and When" as title %}
{% include "wbcore/segment_header.html" with icon='calendar alternate outline' %}
<div class="ui list">
    <div class="item">
        <i class="big clock outline icon"></i>
        <div class="content">
        {% for event in occurrences_item_list|slice:":3" %}
            {% if event.first_passed_item and occurrences_item_list.1%}
                <div class="ui small header"> {{ event.separator_text }} </div>
            {% endif %}
            {% if event.start.day == event.end.day and event.start.month == event.end.month and event.start.year == event.end.year %}
                {{ event.start | date:"D, j. M Y" }}<br>
                {{ event.start | date:"H:i"}} - {{ event.end | date:"H:i"}}
            {% else %}
                {{ event.start | date:"D, j. M Y H:i" }}<br>
                {{ event.end | date:"D, j. M Y H:i"}}
            {% endif %}
            <br><br>
        {% endfor %}
        {% if occurrences_item_list.3 %}
            ...
        {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="item">
        <i class="big map marked alternate icon"></i>
        <div class="content">
            {% if event.location.street %}
                {{ event.location.street }}<br>
                {% if event.location.postal_code %}
                    {{ event.location.postal_code }}
                {% endif %}
                {% if event.location.city %}
                    {{ event.location.city }}
                {% endif %}
            {% else %}
                {{ event.location.address }}
            {% endif %}
        </div>
    </div>
    <div class="ui hidden divider"></div>
    {% if event.cost %}
        <div class="item">
            <i class="big wallet icon"></i>
            <div class="content">
                {{ event.cost }}
            </div>
        </div>
        <div class="ui hidden divider"></div>
    {% endif %}
</div>