{% load static %}

<div class="item">

    {% if event.image %}
    <a class="image" href="{% if host_slug %}{% url 'event' host_slug=host_slug event_id=event.pk %}{% else %}{% url 'event' event_id=event.pk %}{% endif %}">
        <img src="{{ event.image.get_listsize_url }}" alt="{{ event.image.title }}">
    </a>
    {% else %}
        <div class="image" style="margin-bottom:15px;">{% include 'wbcore/svgs/placeholder.svg' with text="Event"%}</div>
    {% endif %}

    <div class="content">
        <div class="meta">
            <span class="date">{{ event.published|date:"D, j. M Y"}}</span>
            {% if event.host.slug %} | <a href="{% url 'host' host_slug=event.host.slug %}" class="wb-link"><span class="wb-icon">{% include 'wbcore/svgs/puzzle-icon.svg' %}</span><span class="wb-name">{{ event.host.name|cut:"Weitblick " }}</span></a>{% endif %}
        </div>
        <a class="ui medium header" href="{% if host_slug %}{% url 'event' host_slug=host_slug event_id=event.pk %}{% else %}{% url 'event' event_slug=event.slug %}{% endif %}">{{ event.name }}</a>

        <div class="description">
            {% if event.teaser %} <p>{{ event.description | safe }}</p>
            {% else %} <p>{{ event.description | safe | truncatewords:30 }}</p>
            {% endif %}
        </div>
        <div class="extra">
            <img class="ui avatar image" src="{% get_media_prefix %}kristy.png">{{ event.author_name }}
        </div>
    </div>
</div>
