{% extends 'wbcore/single_content.html' %}
{% load staticfiles %}

{% block single-content %}
<div class="ui vertical stripe segment">
  <div class="ui one column stackable grid container content-block">
    <div class="column">
      <div class="ui basic segment">
        <h1 class="ui header">Events</h1>
        <!-- <img class="ui fluid image" src="{% static 'images/events_header.png' %}"> -->
      </div>
    </div>
  </div>

  <div class="ui stackable grid container content-block">
    <div class="ten wide column divided items">
      {% include 'wbcore/item_list.html' %}
    </div>
    {% block js %}
        {{ block.super }}
        <script src="/static/js/el-pagination.js"></script>
        <script>$.endlessPaginate({paginateOnScroll: true});</script>
    {% endblock %}

    <div class="six wide column divided items">
      {% include 'wbcore/list_filter.html' %}
    </div>
  </div>
</div>
{% endblock %}
