{% extends 'wbcore/basic.html' %}
{% load staticfiles %}
{% block main %}
    {% include 'wbcore/image-header.html' with title="Fragen & Antworten" default='/images/faq_header.jpg'%}
    {% if faq %}
    <div class="ui segment">
        <div class="ui one column grid list">
            {% for elem in faq %}
            <h2>{{ elem.title }}</h2>
            <div class="ui items">
                {% for qa in elem.questionandanswer_set.all %}
                <div class="item">
                    <div class="content">
                        <a class="header">{{ qa.question }}</a>
                        <div class="description">{{ qa.answer | safe }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
