{% extends 'wbcore/basic.html' %}
{% load static %}
{% load i18n %}
{% block main %}
    {% trans "FAQ" as title %}
    {% include 'wbcore/image-header.html' with default='/images/faq_header.jpg'%}
    {% if faq %}
    <div class="ui segment">
        {% for elem in faq %}
        <h2>{{ elem.title }}</h2>
        <div id="FAQ" class="ui styled fluid accordion">
            {% for qa in elem.questionandanswer_set.all %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    {{ qa.question }}
                </div>
                <div class="content">
                    <p>{{ qa.answer | safe }}</p>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
