<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Home</a>
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Impressum</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">---</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">History</a>
                    <a href="#" class="item">Teams</a>
                    <a href="#" class="item">Events</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">---</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Transparency</a>
                    <a href="#" class="item">Reports</a>
                    <a href="#" class="item">Contact us</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Follow Us</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui center horizontal inverted small divided link list">
            <a class="item" href="#">
                "Privacy policy"
            </a>
            <a class="item" href="#">
                "Cookie policy"
            </a>
            <a class="item" href="#">
                "Privacy policy"
            </a>    
        </div>
    </div>
</div>

