{% load i18n %}
{% load static %}
{% include 'wbcore/photoswipe.html' %}

<h3 itemprop="headline" class="ui dividing header">Gallery: {{ gallery.title }}</h3>
<p class="sub header"><small>{% trans "Published" %} <span itemprop="datePublished">{{ gallery.date_added }}</span></small></p>
{% if gallery.description %}<p itemprop="description" class="ui description">{{ gallery.description|safe }}</p>{% endif %}
<div itemscope itemtype="http://schema.org/ImageGallery" class="gallery ui images">
	{% for photo in gallery.public %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="ui image">
        <a href="{{ photo.image.url }}" itemprop="contentUrl" data-size="{{ photo.image.width }}x{{ photo.image.height }}">
            <img src="{{ photo.get_thumbnail_url }}" itemprop="thumbnail" class="thumbnail" alt="{{ photo.title }}" />
        </a>

        <!-- optionally use this method to store image dimensions for PhotoSwipe -->
        <meta itemprop="width" content="{{ photo.get_thumbnail_size.0 }}">
        <meta itemprop="height" content="{{ photo.get_thumbnail_size.1 }}">

        {% if photo.caption %}
        <figcaption itemprop="caption description">
            {{ photo.caption|safe }}

            <!-- optionally define copyright -->
            <span itemprop="copyrightHolder">Photo: AP</span>
        </figcaption>
        {% endif %}
    </figure>
	{% endfor %}
</div>
<script src="{% static 'js/init_photoswipe.js' %}"></script> 
