{% load static %}
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>{% block title %}Weitblick{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">

{% load sass_tags %}
<link href="{% sass_src 'css/wbcore.scss' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'js/wbcore.js' %}"></script>

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Open+Sans+Condensed:700" rel="stylesheet">

<!-- PhotoSwipe -->
<link rel="stylesheet" href="{% static 'PhotoSwipe/dist/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'PhotoSwipe/dist/default-skin/default-skin.css' %}"> 
<script src="{% static 'PhotoSwipe/dist/photoswipe.min.js' %}"></script> 
<script src="{% static 'PhotoSwipe/dist/photoswipe-ui-default.min.js' %}"></script> 