{% load static %}
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>{% block title %}{% if meta.title %}{{ meta.title }} | {% endif %}Weitblick {{ host.city }}{% endblock %}</title>

{% block meta %}
    <meta name="description" content="{{ meta.description }}" />
    <meta name="robots" content="{{ meta.robots }}" />
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">

{% load sass_tags %}
<link href="{% sass_src 'css/wbcore.scss' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'js/wbcore.js' %}"></script>

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Open+Sans+Condensed:700" rel="stylesheet">

<!-- PhotoSwipe -->
<link rel="stylesheet" href="{% static 'PhotoSwipe/dist/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'PhotoSwipe/dist/default-skin/default-skin.css' %}"> 
<script src="{% static 'PhotoSwipe/dist/photoswipe.min.js' %}"></script> 
<script src="{% static 'PhotoSwipe/dist/photoswipe-ui-default.min.js' %}"></script>

<!-- Klaro!  -->
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script> <!-- translation -->
<link rel="stylesheet" type="text/css" href="{% static 'klaro/klaro.css' %}">
<script defer type="application/javascript" src="{% static 'klaro/config.js' %}"></script>
<script defer data-config="klaroConfig" type="application/javascript" src="{% static 'klaro/klaro-no-css.js' %}"></script>

<!-- Google Tag Manager -->
<script type="'text/plain" data-type="application/javascript" data-name="google_tag_manager">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5SKLNP');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe data-src="https://www.googletagmanager.com/ns.html?id=GTM-5SKLNP" data-name="google_tag_manager"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
