{% extends 'wbcore/base.html' %}

{% block content %}

    <div class="ui vertical stripe segment">
        <div class="ui stackable grid container content-block">

        {% include 'wbcore/breadcrumb.html' %}
        {% include 'wbcore/socialbuttons.html' %}

        <div class="ui row">
    		<div class="column" id="puzzles">
    			{% include 'wbcore/svgs/puzzle.svg' with id='puzzle-svg-1' title='Idee' description='Was ist Weitblick?' icon='wbcore/svgs/idea.svg' link='idea' background='colorbg/grey.svg' hover='colorbg/yellow.svg' type='up' %}

    			{% include 'wbcore/svgs/puzzle.svg' with id='puzzle-svg-2' title='Projects' description='Wen unterstützen wir?' icon='wbcore/svgs/leaf.svg' link='projects'  background='colorbg/grey.svg' hover='colorbg/yellow.svg'  type='down' %}

    			{% include 'wbcore/svgs/puzzle.svg' with id='puzzle-svg-3' title='Events' description='Was tun wir?' icon='wbcore/svgs/hand.svg' link='events' background='colorbg/grey.svg' hover='colorbg/yellow.svg' type='up' %}

    			{% include 'wbcore/svgs/puzzle.svg' with id='puzzle-svg-4' title='Mitmachen' description='Komm vorbei!' icon='wbcore/svgs/people.svg' link='join' background='colorbg/grey.svg' hover='colorbg/yellow.svg' type='down' %}
    		</div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
    	<div class="ui stackable grid container content-block">
            <div class="ten wide column divided items">
                <a class="ui item header" href="{% url 'news' %}">News</a>
                {% if posts %}
                    <div class="ui divided unstackable items">
                    {% for post in posts %}
                        {% include 'wbcore/post_feed.html' with post=post host_slug=host.slug %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="column divided items split-space">
            </div>
            <div class="five wide column divided items">
                <div class="column-content">
                  <a class="ui item header"href="{% url 'events' %}" >Events</a>
                  {% if events %}
                    <div class="ui divided unstackable items">
                    {% for event in events %}
                      <!-- TODO: use different template, this is used for events page and to wide here -->
                      {% include 'wbcore/event_feed.html' with event=event host_slug=host.slug %}
                    {% endfor %}
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
