{% extends 'wbcore/basic.html' %}
{% load martortags %}
{% load static %}
{% load i18n %}
{% block main %}
    {% if welcome %}
        <div class="ui segment">
            {{ welcome.text | safe_markdown }}
        </div>
    {% endif %}
    <div id="news-list" class="ui segment">
        {% trans "News" as title %}
        {% include 'wbcore/segment_header.html' with icon='newspaper outline' url_alias='news' %}
        {% include 'wbcore/item_list.html' with item_list=item_list %}
    </div>
{% endblock %}
