{% load static %}
{% load l10n %}
{% load i18n %}
<!-- Do not reload highmaps.js in /projects where it was already loaded -->
{% if not countries %}
    <script src="{% static 'highmaps/proj4.js'%}"></script>
    <script src="{% static 'highmaps/highmaps.js'%}"></script>
{% endif %}
<script src="{% static 'highmaps/de-all.js'%}"></script>
{% trans "Associations" as title %}
{% include "wbcore/segment_header.html" with icon='map' %}
<div id="container_host_map" style="width: 100%">

</div>
<script>
    var host_list = [];
    {% for host in hosts %}
        {% if host.location and host.location.geolocation %}
        host_list.push({
            name: '{{host.name|cut:"Weitblick "}}',
            slug: '{{host.slug}}',
            label: '{{host.location.description|cut:"None"}}',
            lat: {{host.location.geolocation.lat|stringformat:".11f"}},
            lon: {{host.location.geolocation.lon|stringformat:".11f"}}
        });
        {% endif %}
    {% endfor %}

    var map = Highcharts.mapChart('container_host_map', {
        title: {
            text: ''
        },
        plotOptions:{
            series: {
                dataLabels: {
                    allowOverlap: true,
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.name}</b>'
        },
        chart: {
            spacingRight: 0,
            spacingLeft: 0,
            spacingTop: "2rem",
            spacingBottom: "2rem",
            marginTop:0,
            marginLeft:0,
            marginRight:0,
            marginBottom:0,
        },
        series: [{
            mapData: Highcharts.maps['countries/de/de-all'],
            joinBy: ['iso-a2', 'drilldown'],
            name: 'hosts',
            showInLegend: false,
        },
            {
                // Specify points using lat/lon
                type: 'mappoint',
                name: 'Cities',
                color: '#FF9900',
                data: host_list,
                dataLabels: {
                    align: 'center',
                    format: '{point.label}'
                },
                marker:{
                    symbol: 'url(/static/puzzle-icon.svg)',
                    width: 16,
                    height: 16
                },
                events: {
                    click: function (e) {
                        console.log(e.point.slug);
                        window.location.href = '/' + e.point.slug;
                    }
                }

            },
        ]
    });
    map.mapZoom(0.9);
</script>
