{% extends 'wbcore/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="ui stackable grid container">

        {% include 'wbcore/image-header.html' with image='/static/images/union_header3.jpg' title=host.name%}

        <div class="ten wide column divided items">

            <div class="ui segment">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                    amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                    illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                    dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam
                    liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
                </p>
            </div>
            <div id="news-list" class="ui segment">
                <i class="header newspaper outline icon"></i>
                <a class="ui item title header" href="{% url 'news' %}">News</a>
                {% include 'wbcore/item_list.html' with item_list=posts %}
            </div>
        </div>

        <div class="six wide column divided items">
            <div class="ui segment">
                <i class="header map outline icon"></i>
                <a class="ui item title header"href="{% url 'hosts' %}">Weitblick Vereine</a>
                {% include 'wbcore/hosts_map.html' %}
            </div>
            <div class="ui segment">
                <i class="header calendar alternate outline icon"></i>
                <a class="ui item title header"href="{% url 'events' %}">Events</a>
                {% if occurrences %}
                    <div class="ui divided unstackable items">
                        {% for occ in occurrences %}
                            {% include 'wbcore/event_feed_side.html' with occ=occ host_slug=host.slug %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="ui segment">
                <i class="header user friends icon"></i>
                <a class="ui item title header"href="{% url 'teams' %}">Teams</a>
                <div class="ui divided unstackable items">
                    {% if teams %}
                        {% for team in teams %}
                            {% include 'wbcore/team_list.html' with team=team %}
                        {% endfor %}
                    {% else %}
                        <p>Keine Teams vorhanden!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
