
{% load staticfiles %}
{% load static %}
<div class="sixteen wide column divided items">
    <div id="header-image" class="ui fluid image">
        {% include 'wbcore/socialbuttons.html' %}
        <div class="ui active bottom dimmer">
            <div class="content">
                <h1 class="ui header">{{ title }}</h1>
            </div>
        </div>
        {% if image %}
            <img class="ui fluid image" src="{{ image.get_headersize_url }}" alt="{{ image.title }}">
        {% elif default %}
            <div class="ui fluid default image" style='background-image: url("{% static default %}");'></div>
        {% else %}
            <div class="image">{% include 'wbcore/svgs/placeholder.svg' with text=title %}</div>
        {% endif %}
    </div>
</div>

