{% extends 'wbcore/single_content.html' %}
{% block single-content %}
    <h1>Join</h1>

    <div class="ui one column stackable grid container content-block">
        <form class="ui column form" action="{% url 'join' %}" method="post">
            {% csrf_token %}
            {% if success %}
                <div class="ui positive message">
                    <div class="header">Thank you for becoming part of Weitblick e.V.</div>
                </div>
            {% endif %}

            {% for field in join_form %}
                {% for error in field.errors %}
                    <div class="ui negative message">
                        <div class="header">{{ error|escape }}</div>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="fields">
                <div class="required eight wide field">
                    {{ join_form.hosts.label_tag }} {{ join_form.hosts }}
                </div>
                <div class="eight wide required field">
                    {{ join_form.email.label_tag }} {{ join_form.email }}
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    {{ join_form.first_name.label_tag }} {{ join_form.first_name }}
                </div>
                <div class="eight wide field">
                    {{ join_form.last_name.label_tag }} {{ join_form.last_name }}
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <input class="ui submit button orange" type="submit" value="Join Weitblick e.V.">
                </div>
            </div>
        </form>
    </div>
{% endblock %}