{% load i18n %}
{% trans "Filter" as title %}
{% include 'wbcore/segment_header.html' with icon='filter' %}

<div class="column-content" id="filter" data-ajax-endpoint="{{ ajax_endpoint }}">
    <div class="ui unstackable items">
        <div class="ui form">
            <div class="ui two unstackable fields">
                {% if hosts %}
                    <div class="field eleven wide">
                        <label>{% trans "Associations" %}</label>
                        <div id="filter-hosts" class="ui multiple search selection dropdown">
                            <input name="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">{% trans "Association" %}</div>
                            <div class="menu">
                                {% for host in hosts %}
                                    <div class="item" data-value="{{ host.slug }}">{{ host.name|cut:"Weitblick " }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="field five wide">
                        <label>{% trans "Clear Filter" %}</label>
                        <div id="filter-clear" class="ui fluid teal button">{% trans "Clear" %}</div>
                    </div>
                {% else %}
                    <div class="field">
                        <label>{% trans "Clear Filter" %}</label>
                        <div id="filter-clear" class="ui fluid teal button">{% trans "Clear" %}</div>
                    </div>
                {% endif %}
            </div>
            {% if filter_preset.host %}
                <script>
                    let filter_union_preset = {{ filter_preset.host | safe }};
                    $('#filter-hosts').dropdown('set selected', filter_union_preset);
                </script>
            {% else %}
                <script>
                    let filter_union_preset = false;
                </script>
            {% endif %}

            {% if filter_date %}
                <div class="ui two unstackable fields">
                    <div class="field">
                        <label>{% trans "From" %}</label>
                        <div class="ui clearable calendar" id="filter-from">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder={% trans "Date" %}>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>{% trans "To" %}</label>
                        <div class="ui calendar" id="filter-to">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder={% trans "Date" %}>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="ui two unstackable fields">
                {% if countries %}
                    <div class="field eleven wide">
                        <label>{% trans "Country" %}</label>
                        <div id="filter-country" class="ui multiple search selection dropdown">
                            <input name="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">{% trans "Country" %}</div>
                            <div class="menu">
                                {% for country in countries %}
                                    <div class="item" data-value="{{ country.code }}">{{ country.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if filter_visibility %}
                    <div class="field five wide">
                        <label>{% trans "Status" %}</label>
                        <div id="filter-visibility" class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">{% trans "Status" %}</div>
                            <div class="menu">
                                <div class="item" data-value="all">{% trans "All" %}</div>
                                <div class="item" data-value="current">{% trans "Current" %}</div>
                                <div class="item" data-value="completed">{% trans "Completed" %}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="ui two unstackable fields">
                {% if categories %}
                    <div class="field eleven wide">
                        <label>{% trans "Category" %}</label>
                        <div id="filter-category" class="ui multiple search selection dropdown">
                            <input name="tags" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">{% trans "Category" %}</div>
                            <div class="menu">
                                {% for category in categories %}
                                    <div class="item" data-value="{{ category.0 }}">{{ category.1 }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if filter_active %}
                    <div class="field five wide">
                        <label>{% trans "Status" %}</label>
                        <div id="filter-active" class="ui selection dropdown">
                            <input type="hidden" name="choice_active">
                            <i class="dropdown icon"></i>
                            <div class="default text">{% trans "Status" %}</div>
                            <div class="menu">
                                <div class="item" data-value="all">{% trans "All" %}</div>
                                <div class="item" data-value="active">{% trans "Current" %}</div>
                                <div class="item" data-value="former">{% trans "Former" %}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                <label>{% trans "Search" %}</label>
                <input id="filter-search" type="text" placeholder="{% trans "Search" %} ...">
            </div>
        </div>
    </div>
</div>
