{% load static %}

<div class="item">

    {% if not no_image %}
        <a class="image" href="{{ item.link }}">
            {% if item.image %}
                <img src="{{ item.image.get_listsize_url }}" alt="{{ item.image.title }}">
            {% else %}
                <div class="image">{% include 'wbcore/svgs/placeholder.svg' with text=item.get_model_name %}</div>
            {% endif %}
        </a>
    {% endif %}


    <div class="content">
        <div class="meta">
            {% if item.country %}
                <span>{{ item.country }}</span>
            {% endif %}

            {% if item.show_date %}
                {% if item.country %}<span> | </span>{% endif %}
                <span class="date">{{ item.show_date }}</span>
            {% elif item.date %}
                {% if item.country %}<span> | </span>{% endif %}
                <span class="date">{{ item.date | date:"D, j. M Y" }}</span>
            {% elif item.published %}
                {% if item.country %}<span> | </span>{% endif %}
                <span class="date">{{ item.published | date:"D, j. M Y" }}</span>
            {% endif %}

            {% if item.hosts_list %}
                {% if item.show_date or item.date or item.published %}<span> | </span>{% endif %}
                {% for host in item.hosts_list %}
                    {% include 'wbcore/host_icon.html' with host=host %}
                {% endfor %}
            {% elif item.hosts %}
                {% if item.show_date or item.date or item.published %}<span> | </span>{% endif %}
                {% for host in item.hosts %}
                    {% include 'wbcore/host_icon.html' with host=host %}
                {% endfor %}
            {% endif %}
        </div>
        <a class="ui medium header" href="{{ item.link }}">{{ item.title }}</a>

        <div class="description">
            <p>{{ item.teaser | striptags | safe | truncatewords:"40"}}</p>
        </div>
        <div class="extra">
          {% if item.author %}
              <img class="ui avatar image" src="{% get_media_prefix %}{% if item.author.image %}{{ item.author.image }}{% else %}kristy.png{% endif %}">
             {{ item.author.name }}
          {% elif item.author_str %}
              <img class="ui avatar image" src="{% get_media_prefix %}kristy.png">
             {{ item.author_str }}
          {% endif %}
          <a class="details right floated" href="{{ item.link }}">
            › Weiterlesen
          </a>
        </div>
    </div>
</div>
