{% load i18n %}
{% if host %}
    <a class="logo host{% if inverse %} inverse{% endif %}" href="{% url 'host' host.slug %}">
        {% if host.dissolved %}
            {% include 'wbcore/svgs/logo.svg' with text=host.name|cut:"Weitblick "|cut:" e.V."|upper grey=True %}
        {% else %}
            {% include 'wbcore/svgs/logo.svg' with text=host.name|cut:"Weitblick "|cut:" e.V."|upper %}
        {% endif %}
    </a>
{% else %}
    <a class="logo claim{% if inverse %} inverse{% endif %}" href="{% url 'home' %}" class="ui item">
        {% trans "Education opportunities worldwide!" as text %}
        {% include 'wbcore/svgs/logo.svg' %}
    </a>
{% endif %}
