{% load static %}
<div id="main-menu" class="ui mobile reversed stackable grid container">
    <div class="ui twelve wide column">
        <div class="ui stackable menu">
            <div class="ui category search item">
                <div class="ui large transparent icon input">
                    <input class="prompt" type="text" placeholder="Search ...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="ui grid">
            <div class="ui row stackable menu" id="menu-nav">
                {% for key, elem in main_nav.items %}
                    {% if elem.link %}
                        <a class="item" href="{{ elem.link }}">{{ elem.name }}</a>
                    {% else %}
                        <a class="item active" href="#">{{ elem.name }}</a>
                    {% endif %}
                {% endfor %}
                <a id="popup-menu-btn" class="item">
                  <i class="fitted large chevron down icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="right menu">
            {% include 'wbcore/logo.html' %}
        </div>
    </div>
</div>
<div class="ui stackable grid container">
    <div id="popup-menu" class="ui row">
        {% include 'wbcore/dot_nav.html' %}
    </div>
</div>
