{% extends 'wbcore/single_content.html' %}
{% load staticfiles %}
{% block content %}

<div class="ui stackable grid container">
    {% include 'wbcore/image-header.html' with title='News' image='/static/images/news_header.jpg' %}

    <div class="ten wide column divided items">
        <div class="ui segment">
            {% include 'wbcore/item_list.html' %}
        </div>
    </div>

    <div class="six wide column divided items">
        <div class="ui segment">
            {% include 'wbcore/list_filter.html' %}
        </div>
    </div>
</div>

{% endblock %}