{% extends 'wbcore/single_content.html' %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
	<div class="ui one column stackable grid container content-block">
		<div class="column">
			<div class="ui basic segment">
				<h1 class="ui header">News</h1>
				<img class="ui fluid image" src="{% static 'images/news_header.png' %}">
			</div>
		</div>
	</div>

	<div class="ui stackable grid container content-block">
        <div class="ten wide column divided items">
        	<div id="news-list" class="ui basic segment">
            	{% include 'wbcore/news_list.html' %}
            </div>
        </div>

        <div class="six wide column divided items">
            <div class="column-content">
                <div class="ui basic segment">
                	<div class="ui divided unstackable items">
						<div class="ui segment">
							<h3>Archiv</h3>						
						</div>
						<div class="ui segment">
							<h3>Filter</h3>	

							<div id="news-filter" class="ui multiple search selection dropdown">
								<input name="tags" type="hidden">
								<i class="dropdown icon"></i>
								<div class="default text">Union</div>
								<div class="menu">
									{% for host in hosts %}
										<div class="item" data-value="{{ host.slug }}">{{ host.name }}</div>
									{% endfor %}
								</div>
							</div>
						</div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


