{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    {% include "wbcore/head.html" %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>

<div class="ui segment container">
    <div class="ui basic segment">
        {% include 'wbcore/logo.html' %}
    </div>
    {% block content_title %}<h1>{{ title }}</h1>{% endblock %}
    {% block content %}
        {% if validlink %}
            <form class="ui form info stackable grid" method="post">{% csrf_token %}
                <div class="ui eight wide column">
                    <div class="ui info message">
                        <div class="header">{% trans 'Requirements' %}</div>
                        <ul class="list">
                            <li>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</li>
                            <li>Password must contain at least 8 characters</li>
                        </ul>
                    </div>
                </div>
                <div class="ui eight wide column">
                    <input type="hidden" name="uid" value="{{ uid }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="field">
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                    </div>
                    <div class="field">
                        {% load i18n %}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                    </div>
                    <input class="ui submit button" type="submit" value="{% trans 'Change my password' %}">
                </div>
            </form>
        {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    {% endblock %}

    </div>
</body>
</html>
