{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    {% include "wbcore/head.html" %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>



<div class="ui segment container">
    <div class="ui basic segment">
        {% include 'wbcore/logo.html' %}
    </div>
    <div class="segment">
    {% block content_title %}<h1>{{ title }}</h1>{% endblock %}
    {% block content %}
        <p>{% trans "Your password has been set." %}</p>
    {% endblock %}
    </div>
</body>
</html>
