{% load static %}

<div class="item">

    {% if post.image %}
    <a class="image" href="{% if host_slug %}{% url 'news-post' host_slug=host_slug post_id=post.pk %}{% else %}{% url 'news-post' post_id=post.pk %}{% endif %}">
        <img src="{{ post.image.get_listsize_url }}" alt="{{ post.image.title }}">
    </a>
    {% endif %}

    <div class="content">
        <div class="meta">
            <span class="date">{{ post.published|date:"D, j. M Y"}}</span>
            {% if post.host.slug %} | <a href="{% url 'host' host_slug=post.host.slug %}" class="wb-link"><span class="wb-icon">{% include 'wbcore/svgs/puzzle-icon.svg' %}</span><span class="wb-name">{{ post.host.name|cut:"Weitblick " }}</span></a>{% endif %}
        </div>
        <a class="ui medium header" href="{% if host_slug %}{% url 'news-post' host_slug=host_slug post_id=post.pk %}{% else %}{% url 'news-post' post_id=post.pk %}{% endif %}">{{ post.title }}</a>

        <div class="description">
            <p>{{ post.teaser }}</p>
        </div>
        <div class="extra">
            <img class="ui avatar image" src="{% get_media_prefix %}kristy.png">{{ post.author_name }}
        </div>
    </div>
</div>