{% extends 'wbcore/basic.html' %}
{% load i18n %}
{% load static %}
{% load static %}
{% load martortags %}
{% load wbcoretags %}

{% block main %}
    {% if post.type == 'blog' %}
        {% include 'wbcore/image-header.html' with title=post.title image=post.image default='/images/blog_header.jpg' %}
    {% else %}
        {% include 'wbcore/image-header.html' with title=post.title image=post.image default='/images/news_header.jpg' %}
    {% endif %}

    <div class="ui segment">
        <div class="ui image label">
            {% if post.author and post.author.image %}
                <img class="ui avatar image" src='{{ post.author.image.url }}'>{{ post.author.name }}
            {% elif post.author_name %}
                <img class="ui avatar image" src='{% get_media_prefix %}kristy.png'>{{ post.author_name }}
            {% endif %}
        </div>
        <span class="date">{{ post.published | date:"D, j. M Y" }}</span>
        <div class="ui hidden divider"></div>
        <div class="item">
            {{ post.text | safe_markdown }}
            <div style="clear:both;"></div>
        </div>
    </div>

{% endblock %}