{% load static %}

<p>Auf dieser Seite stellen wir dir Informationen über die Verarbeitung von Daten bereit, die direkt oder indirekt Rückschlüsse auf dich zulassen können (personenbezogene Daten). Dies richtet sich insbesondere nach der europäischen Datenschutzgrundverordnung (DSGVO).</p>
<p>Bundesverband Weitblick e.V., Universitätsstraße 14-16, 48143 Münster (Postanschrift: {{ bundesverband.address.name }}, Datenschutzbeauftragter: datenschutz@weitblicker.org) (Weitblick) ist verantwortlich für die Verarbeitung deiner personenbezogenen Daten. Informationen zu unserem aktuellen Vorstand findest du im <a href="{% url 'imprint' %}">Impressum</a>.</p>

<h2>Inhaltsverzeichnis</h2>
<ol>
    <li><a href="#Bereitstellung">Bereitstellung unserer Internetseite</a></li>
    <li><a href="#Website-Statistiken">Website-Statistiken</a></li>
    <li><a href="#Weitere-Website-Inhalte">Weitere Website-Inhalte</a></li>
    <li><a href="#Kontaktaufnahmen">Kontaktaufnahmen, Online-Formulare und Post</a></li>
    <li><a href="#Sozale-Netzwerke">Nutzung von sozialen Netzwerken</a></li>
    <li><a href="#Mitgliederverwaltung">Mitgliederverwaltung</a></li>
    <li><a href="#Intranet">Intranet</a></li>
    <li><a href="#Veranstaltungsfotos-Projektarbeit-Teilnahme">Veranstaltungsfotos, Projektarbeit und Teilnahme</a></li>
    <li><a href="#Spenden">Spenden</a></li>
    <li><a href="#Pflichten-Rechte">Rechtliche Verpflichtung und Geltendmachung von Rechten</a></li>
    <li><a href="#Deine-Rechte">Deine Rechte</a></li>
</ol>

<h2 id="Bereitstellung">1. Bereitstellung unserer Internetseite</h2>
<p>Auf unserer Internetseite Weitblicker.org stellen wir dir Informationen über unsere Arbeit bereit und organisieren unsere Arbeit, etwa über unsere Owncloud. Für unser berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO) an der Funktionalität der Internetseite und der Erkennung von Fehlern speichern wir die Daten deiner Anfrage, das sind insbesondere:</p>
<ul>
    <li>IP-Adresse</li>
    <li>Informationen über das verwendete Gerät (insb. Browser, Betriebssystem)</li>
    <li>Zeit des Aufrufs</li>
    <li>URL der angefragten Internetseite</li>
    <li>Zuvor aufgerufene Internetseite</li>
    <li>Ggf. vorgenommene Einstellungen (z.B. erteilte Einwilligungen durch einen Cookie)</li>
    <li>Ggf. hochgeladene Dateien (z.B. bei der Owncloud)</li>
    <li>Ggf. Account-Daten und administrationsbezogene Daten (z.B. bei der Owncloud, Website-Admin)</li>
</ul>
<p>Diese Daten verwenden wir in der Form nur für die Bearbeitung deiner Anfrage. Anschließend werden sie gelöscht oder der Personenbezug wird unter anderem durch Löschen der IP-Adresse entfernt. Diese Daten können dann aggregiert in sog. Log-Dateien gespeichert werden.</p>
<p>Unser in Deutschland ansässiger Webhoster hat als unser Auftragsverarbeiter Zugriff auf diese Daten und verarbeitet diese ausschließlich nach unseren Weisungen für die genannten Zwecke. Dieser wird vom Bundesverband beauftragt. Der Bundesverband ist auch zuständig für den Betrieb der Website, soweit nicht die Städte auf ihren Unterseiten eigene, ergänzende Funktionen (z.B. eingebettete externe Videos) bereitstellen.</p>

<h2 id="Website-Statistiken">2. Website-Statistiken</h2>
<p>Um unsere Website weiter optimieren zu können und unsere Öffentlichkeitsarbeit zu verbessern, holen wir deine Einwilligung ein (Art. 6 Abs. 1 lit. a DSGVO), um über den Google Tag Manager, Google Analytics und Google Ads Tracking statistische Auswertungen unserer Website zu erstellen. Dabei werden insbesondere folgende Daten verarbeitet:</p>
<ul>
    <li>Anfrage-Daten (insb. IP-Adresse, Informationen über das verwendete Gerät (z.B. Browser), Zeit des Aufrufs, angefragte Internetseite, zuvor aufgerufene Internetseite)</li>
    <li>Nutzungsdaten (insb. Besuchsdauer, aufgerufene Unterseiten)</li>
    <li>Ggf. Werbekampagnen-Daten (insb. Kampagne, Suchbegriff)</li>
</ul>
<p>Wir nutzen datenschutzfreundliche Voreinstellungen, z.B. kürzen wir deine IP-Adresse, um die Rückverfolgung zu erschweren. Die Anonymisierung der Daten erfolgt nach 2 Wochen. Für alle deine Anliegen und Betroffenen-Rechte in diesem Zusammenhang kannst Du dich an uns wenden.</p>
<p>Unser Dienstleister Google hat mit uns eine Vereinbarung abgeschlossen. Die Google-Konzernunternehmen wie Google LLC und Google Ireland Limited verfolgen jedoch womöglich eigene Zwecke – wie allgemeine statistische Analysen und die Verbesserung des Werbesystems. Die Verarbeitungen erfolgen teilweise in den USA, wo kein mit der EU vergleichbares Datenschutzniveau garantiert ist und insbesondere staatliche Behörden Zugriff auf die verarbeiteten Daten haben können. Informationen dazu und zu den Risiken für Dich finden sich auch in der Google Datenschutzerklärung.</p>

<h2 id="Weitere-Website-Inhalte">3. Weitere Website-Inhalte (Content Delivery)</h2>
<p>Um dir unsere Website schnell und mit hochwertigen Inhalten für eine effektive Öffentlichkeitsarbeit  bereitstellen zu können (Art. 6 Abs. 1 lit. f DSGVO) und im Einzelfall auch auf Grundlage deiner Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), greifen wir auf externe Inhalte wie Videos und Karten-Material zurück.</p>
<p>Dabei werden die oben genannten Anfrage-Daten (insb. IP-Adresse, Informationen über das verwendete Gerät (z.B. Browser), Zeit des Aufrufs, angefragte Internetseite, zuvor aufgerufene Internetseite) durch unsere technischen Dienstleister verarbeitet. Wir nutzen datenschutzfreundliche Voreinstellungen, sodass z.B. Youtube-Videos in der sog. NoCookie-Variante eingebunden werden. Mit dem Abspielen eines Videos können weitere Daten verarbeitet werden, was sich nach der Youtube Datenschutzerklärung richtet.</p>

<h2 id="Kontaktaufnahmen">4. Kontaktaufnahmen, Online-Formulare und Post</h2>
<p>Du kannst uns über unser Kontakformular, per Email, per Post oder über spezielle Formulare für Veranstaltungen und deinen Online-Mitgliedsantrag kontaktieren. Für unser berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO), deine Kontakt-Anfrage bearbeiten zu können, unsere Veranstaltungen durchzuführen und gegebenfalls zur Vorbereitung deiner Mitgliedschaft (Art. 6 Abs. 1 lit. b DSGVO), verarbeiten wir:</p>
<ul>
    <li>Kontakt-Daten (insb. Name, Email-Adresse bzw. Anschrift)</li>
    <li>Anliegen bzw. Email-Text</li>
    <li>Email-Informationen (insb. technische Informationen wie beteiligte Email-Server und Uhrzeit)</li>
</ul>
<p>Diese Daten werden nach einer Wartefrist von mehreren Wochen gelöscht, sobald deine Anfrage bearbeitet wurde und wir nicht gesetzlich zur Speicherung verpflichtet sind.</p>
<p>Unser in der EU ansässiger Email-Anbieter und Post-Scan-Dienstleister sowie gegebenenfalls andere Weitblick-Vereine haben als unsere Auftragsverarbeiter Zugriff auf diese Daten und verarbeiten diese ausschließlich nach unseren Weisungen für die genannten Zwecke.</p>

<h2 id="Sozale-Netzwerke">5. Nutzung von sozialen Netzwerken</h2>
<p>Für unserer berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO) an der Weiterentwicklung und Funktionalität unserer Präsenzen auf sozialen Netzwerken und dem Austausch mit Weitblick-Interessierten als Teil unserer Öffentlichkeitsarbeit als gemeinnütziger Verein, werden personenbezogene Daten verarbeitet:</p>
<ul>
    <li>Anfrage-Daten (insb. IP-Adresse, Informationen über das verwendete Gerät (z.B. Browser), Zeit des Aufrufs, angefragte Internetseite, zuvor aufgerufene Internetseite)</li>
    <li>Profil-Daten des jeweiligen sozialen Netzwerks (Informationen über deinen Account und ggf. die Zielgruppe, in die du anhand deiner Profil-Informationen eingeordnet wirst)</li>
    <li>Informationen über deine Interaktionen (z.B. „Like“ oder Teilen unserer Internetseite)</li>
</ul>
<p>Das jeweilige soziale Netzwerk betreibt als Webhoster die Plattform. Wir stellen auf unserem Profil unsere Inhalte bereit, interagieren mit Nutzern (z.B. indem wir auf einen Kommentar antworten) und greifen auf Statistik-Daten zu (z.B. Anzahl der Besucher im letzten Monat, z.B. Facebook Insights). Abgesehen von der Funktionalität und der Nutzung der anonymisierten Statistik-Daten nutzen wir deine personenbezogenen Daten zu keinen weiteren Zwecken.</p>
<p>Die sozialen Netzwerke verarbeiten dabei unter Umständen zugleich Daten für weitere, eigene Zwecke. Daher können wir zusammen mit dem sozialen Netzwerk jeweils sog. gemeinsame Verantwortliche sein.</p>
<p>Für Facebook haben wir eine Vereinbarung getroffen. Der Betreiber hat sich uns gegenüber verpflichtet, die Wahrung deiner Betroffenen-Rechte sicherzustellen. Bezüglich Facebook Insights kannst du dich also (auch) an Facebook wenden. Das Wesentliche der Vereinbarung findest du <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data">hier</a>.</p>
<p>Zu den Datenschutz-Erklärungen der anderen sozialen Netzwerke und Plattformen gelangst du hier: Github (für unsere IT-Entwicklung), Instagram, Youtube und Twitter. Dort findest du auch weitere Informationen zu etwaigen Datenübermittlungen außerhalb des Europäischen Wirtschaftsraums – etwa in die USA – und damit einhergehenden Risiken.</p>

<h2 id="Mitgliederverwaltung">6. Mitglieder-Verwaltung</h2>
<p>Für unser berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO) an unserer satzungsmäßigen Vereinsarbeit, Koordination und Mitglieder-Verwaltung und gegebenenfalls auch zur Erfüllung eines geschlossenen Mitgliedvertrags (Art. 6 Abs. 1 lit. b DSGVO) verarbeiten wir die Daten unserer Mitglieder. Diese Daten umfassen:</p>
<ul>
    <li>Name und Anschrift</li>
    <li>Kontakt-Daten (z.B. Email-Adresse)</li>
    <li>Informationen zu deiner Mitgliedschaft (insb. Beiträge, Eintrittsdatum, Vorstand-Eigenschaft)</li>
</ul>
<p>Wenn du diese Daten nicht bereitstellen möchtest, ist eine Mitgliedschaft nicht möglich. Die Daten werden wenige Wochen nach deinem Austritt aus unserem Verein gelöscht oder darüber hinaus gespeichert, solange und soweit wir gesetzlich zu einer Speicherung verpflichtet sind.</p>

<h2 id="Intranet">7. Intranet</h2>
<p>Wir nutzen Microsoft Teams und können den registrierten Mitgliedern des Bundesverbands und der Stadtvereine so eine erleichterte Ausübung ihrer Mitgliedschaft (Art. 6 Abs. 1 lit. b DSGVO) und bundes-/stadtweite Koordination der Vereinsarbeit (Art. 6 Abs. 1 lit. f DSGVO) ermöglichen. Dazu wird gegebenenfalls durch deinen Stadtverein deine Einwilligung eingeholt (Art. 6 Abs. 1 lit. a DSGVO).</p>
<p>Dabei werden für die Dauer der Mitgliedschaft und darüber hinaus, soweit weiterhin für die Vereinsarbeit erforderlich (z.B. Namenserwähnungen in einzelnen Dokumenten), Daten verarbeitet wie die folgenden:</p>
<ul>
    <li>Account-Daten (insb. Kennung)</li>
    <li>Hochgeladene Dateien und Änderungshistorie</li>
    <li>Mitgliedschaftsbezogene Daten (insb. Vereinszugehörigkeit)</li>
    <li>Anfrage-Daten (insb. IP-Adresse, Informationen über das verwendete Gerät (z.B. Browser), Zeit des Aufrufs, angefragte Internetseite, zuvor aufgerufene Internetseite)</li>
    <li>Weitere Daten abhängig vom verwendeten Service (Emails, Video-Audio-Übertragung, Termin-Einträge)</li>
</ul>
<p>Diese Dienste erbringt Microsoft mit Servern in der EU als Dienstleister des Bundesverbands. Du findest weitere Informationen in der Datenschutzinformation zu Microsoft Teams.</p>
<p>Der Bundesverband ist für die Geltendmachung all deiner Betroffenen-Rechte verantwortlich und dein empfohlener Ansprechpartner. Der jeweilige Stadtverein stellt sicher, dass eine entsprechende Rechtsgrundlage besteht und verwaltet eigenständig seinen jeweiligen Stadtbereich administrativ.</p>

<h2 id="Veranstaltungsfotos-Projektarbeit-Teilnahme">8. Veranstaltungsfotos, Projektarbeit und Teilnahme</h2>
<p>Für unser berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO), der Durchführung von Veranstaltungen, unserer vereinsinternen Weiterbildung und Öffentlichkeitsarbeit, zur Erfüllung eines Vertrags über die Veranstaltung (Art. 6 Abs. 1 lit. b DSGVO), und gegebenenfalls auf Grundlage deiner Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), verarbeiten wir:</p>
<ul>
    <li>Fotos von Weitblick-Veranstaltungen, auf denen du zu sehen bist</li>
    <li>Veranstaltungsbezogene Informationen (z.B. Anmeldung für eine Veranstaltung, gelaufene Kilometer beim Spendenlauf)</li>
    <li>Kontakt-Daten (z.B. für die Vermittlung einer Patenschaft)</li>
</ul>
<p>Diese Daten werden nach einigen Wochen nach Ablauf der Veranstaltung bzw. Beendigung des jeweiligen Projekts gelöscht. Fotos werden auch darüber hinaus für die Öffentlichkeitsarbeit verwendet.</p>
<p>Andere Weitblick-Vereine und technische Dienstleister (z.B. für unser Intranet) sowie gegebenenfalls unsere Versicherung für Patenschaften haben Zugriff auf diese Daten für die genannten Zwecke.</p>

<h2 id="Spenden">9. Spenden</h2>
<p>Im Zusammenhang mit Spenden verarbeiten wir zur Durchführung der Spende (Art. 6 Abs. 1 lit. b DSGVO) und aufgrund gesetzlicher Aufbewahrungspflichten für bis zu 10 Jahre (Art. 6 Abs. 1 lit. c DSGVO):</p>
<ul>
    <li>Name und Kontakt-/Bank-Daten (insb. Bankverbindung)</li>
    <li>Spenden-Daten (z.B. Höhe der Spende)</li>
</ul>
<p>Andere Weitblick-Vereine, Bank-Dienstleister und technische Dienstleister (z.B. für unser Intranet) haben Zugriff auf diese Daten für die genannten Zwecke.</p>

<h2 id="Pflichten-Rechte">10. Rechtliche Verpflichtung und Geltendmachung von Rechten</h2>
<p>Im Einzelfall können wir gesetzlich (z.B. aus steuerlichen Gründen) und auch durch Anordnungen von Behörden oder Gerichten zur Verarbeitung einschließlich der Übermittlung personenbezogener Daten verpflichtet sein (Art. 6 Abs. 1 lit. c DSGVO). Die Verarbeitung einschließlich der Übermittlung kann aber auch für unserer berechtigtes Interesse an der Geltendmachung oder Verteidigung von Rechtsansprüchen erforderlich sein (Art. 6 Abs. 1 lit. f DSGVO), z.B. wenn unser Logo missbräuchlich verwendet wird.</p>
<p>Diese Verarbeitungen erfolgen nur soweit und solange es für diese Zwecke erforderlich ist.</p>

<h2 id="Deine-Rechte">11. Deine Rechte</h2>
<p>Als betroffene Person können Dir Rechte zustehen auf:</p>
<ul>
    <li>Widerruf einer abgegebenen Einwilligung (jederzeit, wobei die Rechtmäßigkeit der Verarbeitung bis zum Widerruf unberührt bleibt). <a onclick="klaro.show()" href="#Deine-Rechte">Jetzt widerrufen</a>,</li>
    <li>Auskunft (umfasst Informationen über die Verarbeitungen und eine Daten-Kopie),</li>
    <li>Berichtigung (z.B. falsche Daten gespeichert),</li>
    <li>Löschung (z.B. Daten nicht mehr notwendig),</li>
    <li>Einschränkung der Verarbeitung (z.B. auf deinen Wunsch anstelle einer Löschung; in der Regel ist dann nur noch die bloße Speicherung zulässig),</li>
    <li>Datenübertragbarkeit (umfasst eine Daten-Kopie in einem maschinenlesbaren Format und die Übermittlung) sowie</li>
    <li>Beschwerde bei einer Aufsichtsbehörde (z.B. bei der Aufsichtsbehörde in NRW, dem LDI NRW).</li>
</ul>
<p>Soweit wir Daten auf Grundlage eines berechtigten Interesses verarbeiten, hast du ein Widerspruchsrecht gegen die Verarbeitung. Du kannst aus Gründen, die sich aus deiner besonderen Situation ergeben, jederzeit widersprechen. Soweit Daten für Zwecke der Direktwerbung verarbeitet werden, kannst du jederzeit grundlos widersprechen.</p>

<p>Diese Datenschutz-Erklärung ist urheberrechtlich geschützt.</p>
<p>Zuletzt aktualisiert: 24. November 2020</p>
