{% load static %}
<div class="ui fluid card">
  <a class="image" href="{% url 'project' slug %}">
    <img src="/media/mikko.jpg">
  </a>
  <div class="content">
    <a class="header" href="{% url 'project' slug %}">{{ title }}</a>
    <div class="meta">
      <span class="date">{{ country }}</span>
    </div>
    <div class="description">
      {{ description|truncatewords:30 }}
    </div>
  </div>
  <div class="extra content">
    {% for host in hosts %}
    <a href="{% url 'host' host.slug  %}">
        <img class="wb-icon" src="{% get_media_prefix %}icon.png">
        {{ host.city }}
    </a>
    {% endfor %}
  </div>
</div>
