{% load static %}
{% load l10n %}
{% load i18n %}
<script src="{% static 'highmaps/proj4.js'%}"></script>
<script src="{% static 'highmaps/highmaps.js'%}"></script>
<script src="{% static 'highmaps/de-all.js'%}"></script>

{% trans "Map" as title %}
{% include 'wbcore/segment_header.html' with icon='map marker alternate' %}
<h1 class="ui item centered large header">{{ project.location.country.name }}</h1>
<div class="ui hidden divider"></div>
<div id="container_project_map" style="width: 100%">

</div>
<script>
var mapKey = 'countries/' + '{{project.location.country|lower}}' +'/'+ '{{project.location.country|lower}}'  + '-all';
$.getScript('https://code.highcharts.com/mapdata/' + mapKey + '.js', function() {

    data = Highcharts.geojson(Highcharts.maps[mapKey]);

    // Set a non-random bogus value
    $.each(data, function(i) {
        this.value = null;
    });


    var current_project = [];
        current_project.push({
            name: '{{project.name}}',
            slug: '{{project.slug}}',
            lat: {{project.location.geolocation.lat|stringformat:".11f" }},
            lon: {{project.location.geolocation.lon|stringformat:".11f" }}
        });

    var filtered_projects = [];
    {% for project in other_projects_country %}
        var proj_hosts = []
        {% for proj_host in project.hosts_list %}
            proj_hosts.push("{{ proj_host.slug }}")
        {% endfor %}
        filtered_projects.push({
            proj_hosts: proj_hosts,
            name: '{{project.name}}',
            slug: '{{project.slug}}',
            lat: {{project.location.geolocation.lat|stringformat:".11f" }},
            lon: {{project.location.geolocation.lon|stringformat:".11f" }}
        });
    {% endfor %}

    var map = Highcharts.mapChart('container_project_map', {
        title: {
            text: ''
        },
        plotOptions:{
            series: {
                stickyTracking: false,
                dataLabels: {
                    allowOverlap: true,
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            useHTML: true,
            hideDelay: 2000,
            style: {
                pointerEvents: 'auto'
            },
            enabled: true,
            formatter: function () {
                    let lat = this.point.lat,
                        lon = this.point.lon,
                        series = map.get('others'),
                        tooltiptxt = '';
                    $.each(series.data, function(i,p){
                    if(Math.abs(p.lat-lat) <= 0.1 && Math.abs(p.lon-lon) <= 0.1 ) {
                        let pathArray = window.location.pathname.split( '/' );
                        //check if in host context and if the project is of the same host --> then the context is preserved
                        if($.inArray(pathArray[1], p.proj_hosts)!= -1)
                        {
                            tooltiptxt += "<a href=../"+p.slug+" target='_self' style='color:#000000'>&#8226 "+p.name+"</a> <br>";
                        } else {
                            tooltiptxt += "<a href=" + window.location.origin + "/projects/" + p.slug + " target='_self' style='color:#000000'>&#8226 " + p.name + "</a> <br>";
                        }

                    }
                    });
                    if (tooltiptxt== ''){
                        return false
                    } else {
                        return tooltiptxt
                    }

            },
        },

        chart: {
            spacingRight: 0,
            spacingLeft: 0,
            spacingTop: "2rem",
            spacingBottom: "2rem",
            marginTop:0,
            marginLeft:0,
            marginRight:0,
            marginBottom:0,
        },
        series: [{
            mapData: Highcharts.maps[mapKey],
            joinBy: ['iso-a2', 'drilldown'],
            name: 'project_country',
            showInLegend: false,
            },
            {
                type: 'mappoint',
                name: 'other_projects',
                id: 'others',
                color: 'rgba(66,66,66,1.00)',
                data: filtered_projects,
                dataLabels: {
                    enabled: false,
                },
                marker:{
                    width: 35,
                    height: 35
                },
                events: {
                    click: function (e) {
                        console.log(e.point.slug);
                        window.open('../' + e.point.slug,'_self');
                    }
                }
            },
            {
                // Specify points using lat/lon
                type: 'mappoint',
                name: 'project',
                color: '#FF9900',
                states: { inactive: { opacity: 1 } },
                data: current_project,
                dataLabels: {
                    format: '{point.name}',
                    overflow: "justify"
                },
                marker:{
                    symbol: 'url(/static/puzzle-icon.svg)',
                    width: 16,
                    height: 16
                },


            },
        ]
    });
    map.mapZoom(0.95);

        });
</script>
