{% extends 'wbcore/base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'jvectormap/jquery-jvectormap-2.0.3.css' %}" type="text/css" media="screen"/>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'jvectormap/jquery-jvectormap-de-mill.js' %}"></script>
  <div id="world-map" style="width: 900px; height: 400px"></div>
  <script>

    $(function(){
      $('#world-map').vectorMap({map: 'world_mill',
          series: {
            regions: [{
              values: {{projects_countries_list|safe}},
              scale: ['#ffd79b', '#FF9900'],
              normalizeFunction: 'polynomial'
            }]
          },
          onRegionTipShow: function(e, el, code){
            el.html(el.html()+' (Anzahl an Projekten - '+{{projects_countries_list|safe}}[code]+')');
             }
        });
    });
    

  </script>

{% if projects %}
    <ul>
    {% for project in projects %}
        <li><a href="{% url 'project' project.slug %}">{{ project.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects available.</p>
{% endif %}
{% endblock %}


