{% extends 'wbcore/basic.html' %}
{% load static %}
{% load wbcoretags %}
{% load i18n %}
{% block main %}

    {% include 'wbcore/image-header.html' with title=project.name image=project.image %}

    <div class="ui segment">
        <div class="meta">
            {% for host in hosts_list %}
                {% include 'wbcore/host_icon.html' with host=host %}
            {% endfor %}
        </div>
    <div class="ui hidden divider"></div>
        {{ project.description | safe_markdown }}
    </div>

{% endblock %}
{% block side_bar %}
        <div class="ui segment">
            {% include 'wbcore/project_map.html' %}
        </div>

        {% if project.photos %}
        <div class="ui segment">
            {% trans "Gallery" as title %}
            {% include 'wbcore/segment_header.html' with icon='image outline' %}
            {% include 'wbcore/gallery.html' with photos=project.photos.all %}
        </div>
        {% endif %}

        {% if project.partner %}
            <div class="ui segment">
                {% trans "Partner" %}
                {% include 'wbcore/segment_header.html' with icon='handshake outline' %}
                {{ project.partner }}
            </div>
        {% endif %}

        {% include 'wbcore/sidebar.html' %}

{% endblock %}