{% load static %}
{% load i18n %}
<script src="{% static 'highmaps/proj4.js'%}"></script>
<script src="{% static 'highmaps/highmaps.js'%}"></script>
<script src="{% static 'highmaps/drilldown.js'%}"></script>
<script src="{% static 'highmaps/marker-clusters.js'%}"></script>
<script src="{% static 'highmaps/world-robinson-lowres.js'%}"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<div id="project-map" style="width: 100%"></div>
<script>
Highcharts.setOptions({
    lang: {
        drillUpText: '◁ {% trans "Back to the world map" %}',
    }
});

    var mydata = {{country_list_for_map|safe}};

    var data = Highcharts.geojson(Highcharts.maps['custom/world-robinson-lowres']),
        separators = Highcharts.geojson(Highcharts.maps['custom/world-robinson-lowres'], 'mapline'),
        // Some responsiveness
        small = $('#project-map').width() < 400;

    var filtered_countries = [];
    // Set drilldown pointers
    $.each(data, function (f) {
        for (var i = 0; i < mydata.length; i += 1) {
            if(mydata[i].country==this.properties['iso-a2']){
                this.drilldown = this.properties['iso-a2'];
                this.translated_country_name = mydata[i].countryname;
                this.value = mydata[i].number;
                this.dataLabels = {enabled: false}
                filtered_countries.push(this)
            }
        };
        if(this.value == undefined){this.value = null}
    });

    // Instantiate the map
    Highcharts.mapChart('project-map', {
        chart: {
            events: {
                drilldown: function(e) {
                    if (!e.seriesOptions) {
                        var chart = this,
                            mapKey = 'countries/' + e.point.drilldown.toLowerCase() +'/'+ e.point.drilldown.toLowerCase()  + '-all',
                            // Handle error, the timeout is cleared on success
                            fail = setTimeout(function() {
                                if (!Highcharts.maps[mapKey]) {
                                    chart.showLoading('<i class="icon-frown"></i> Failed loading ' + e.point.name);
                                    fail = setTimeout(function() {
                                        chart.hideLoading();
                                    }, 1000);
                                }
                            }, 3000);
                        // Show the spinner
                        chart.showLoading('<i class="icon-spinner icon-spin icon-3x"></i>'); // Font Awesome spinner

                        // Load the drilldown map
                        $.getScript('https://code.highcharts.com/mapdata/' + mapKey + '.js', function() {

                            data = Highcharts.geojson(Highcharts.maps[mapKey]);

                            // Set a non-random bogus value
                            $.each(data, function(i) {
                                this.value = null;
                            });

                            // Hide loading and add series
                            chart.hideLoading();
                            clearTimeout(fail);
                            chart.addSingleSeriesAsDrilldown(e.point, {
                                name: e.point.name,
                                colorAxis: 1,
                                showInLegend: false,
                                mapData: Highcharts.maps[mapKey],
                                dataLabels: {
                                    enabled: false,
                                    format: '{point.name}'
                                }
                            });
                            var filtered_projects = [];
                            {% for project in item_list %}
                                if ('{{project.location.country.code}}'==e.point.drilldown){
                                    filtered_projects.push({
                                        name: '{{project.name}}',
                                        slug: '{{project.slug}}',
                                        lat: {{project.location.geolocation.lat|stringformat:".11f" }},
                                        lon: {{project.location.geolocation.lon|stringformat:".11f" }}
                                    });
                                }
                            {% endfor %}
                              
                            chart.addSingleSeriesAsDrilldown(e.point, {
                                type: 'mappoint',
                                colorAxis: 1,
                                showInLegend: false,
                                cluster: {
                                    enabled: true,
                                    allowOverlap: false,
                                    drillToCluster: true,
                                    layoutAlgorithm: {
                                        type: 'kmeans',
                                        distance: 10
                                    },
                                    zones: [{
                                        from: 0,
                                        to: 20,
                                        marker: {
                                            fillColor: '#FF9900',
                                            radius: 12
                                            }}]
                                },
                                name: 'Projekte',
                                cursor: 'pointer',
                                marker: {
                                            fillColor: '#FF9900'},
                                data: filtered_projects,
                                events: {
                                    click: function (e) {
                                        console.log(e.point.slug);
                                        window.open(e.point.slug,'_self');
                                    },
                                }
                            });
                            chart.applyDrilldown();
                        });
                    }

                    this.setTitle(null, {
                        text: e.point.translated_country_name
                    });
                },
                drillup: function() {
                    this.setTitle(null, {
                        text: ''
                    });
                }
            }
        },

        title: {
            text: ''
        },

        subtitle: {
            text: '',
            floating: true,
            align: 'right',
            y: 50,
            style: {
                fontSize: '16px'
            }
        },

        legend: small ? {} : {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: true
        },

        colorAxis: [{
            type: 'logarithmic',
            min: 1,
            max: 10,
            minColor: 'rgba(255,194,99,0.84)',
            maxColor: '#FF9900',
            showInLegend: false
            },
            {
             type:'linear',
                showInLegend: false,
                maxColor: '#FF9900',
            }
        ],

        mapNavigation: {
            enabled: true,
            enableMouseWheelZoom: false,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },



        plotOptions: {
            map: {
                states: {
                    hover: {
                        color: '#EEDD66'
                    }
                }
            }
        },

        series: [{
            mapData: Highcharts.maps['custom/world-robinson-lowres'],
            data: data,
            joinBy: ['iso-a2', 'drilldown'],
            name: 'projects',
            showInLegend: false,
            dataLabels: {
                enabled: true,
                format: '{point.properties.postal-code}'
            }
        }, {
            showInLegend: false,
            type: 'mapline',
            data: separators,
            color: 'silver',
            enableMouseTracking: false,
            animation: {
                duration: 500
            }
        }],

        plotOptions:{
            series: {
                stickyTracking: false,
                dataLabels: {
                    allowOverlap: true,
                    overflow: 'justify'
                }
            }
        },
        tooltip: {
            useHTML: true,
            hideDelay: 2000,
            style: {
                pointerEvents: 'auto'
            },
            enabled: true,
            formatter: function (tooltip) {
                if (this.series.name == 'Projekte') {
                    if (this.point.clusteredData) {
                        var tooltiptxt = [];
                        this.point.clusteredData.forEach(p => {
                            tooltiptxt.push("<a href=" + p.options.slug + " target='_self' style='color:#000000'>&#8226 " + p.options.name + "</a> <br>");
                        })

                        return tooltiptxt
                    } else {
                        //return this.point.name
                        return false

                    }
                } else {
                    return this.point.translated_country_name + ': ' + this.point.value
                }
                }
        },

        drilldown: {
            activeDataLabelStyle: {
                color: '#FFFFFF',
                textDecoration: 'none',
                textOutline: '1px #000000'
            },
            drillUpButton: {
                relativeTo: 'spacingBox',
                position: {
                    x: 0,
                    y: 60
                }
            }
        }
    });

</script>
