{% extends 'wbcore/base.html' %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'highmaps/highmaps.js'%}"></script>
<div id="world-map" style="width: 900px; height: 400px"></div>
<script>
var data = [
    ['de', 20],
    ['us', 2],
    ['in', 4],
];

$.getJSON("{% static 'highmaps/world-robinson-highres.geo.json'%}", function (geojson) {

    // Initiate the chart
    Highcharts.mapChart('world-map', {
        chart: {
            map: geojson
        },

        title: {
            text: 'Weitblick Projekte'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            tickPixelInterval: 100
        },

        series: [{
            data: data,
            name: 'Projektanzahl',
            states: {
                hover: {
                    color: '#FF9900'
                }
            },
            
        }]
    });
});
</script>

{% if projects %}
    <div class="ui four stackable cards">
    {% for project in projects %}
        {% include 'wbcore/project_card.html' with title=project.name slug=project.slug hosts=project.hosts.all description=project.short_description|striptags country=project.location.country.name %}
    {% endfor %}
    </div>
{% else %}
    <p>No projects available!</p>
{% endif %}
{% endblock %}


