{% load i18n %}
<div class="ui sticky">

    {% comment %}{% if host and host.instagram%}
    <div class="ui segment">
        {% include 'wbcore/instagram.html' with account_id=host.instagram %}
    </div>
    {% endif %}{% endcomment %}

    {% if project_map %}
        <div class="ui segment">
            {% include 'wbcore/project_map.html' %}
        </div>
    {% endif %}

    {% if address %}
        <div class="ui segment">
            {% include "wbcore/address.html" %}
        </div>
    {% endif %}

    {% if partner %}
        {% if partner.logo %}
            <div class="ui segment">
                {% include "wbcore/segment_header.html" with icon='handshake' url_alias='partners' title='' %}
                {% if partner.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ partner.link }}">
                        <img src="{{ partner.logo.url }}" style="max-width: 100%; padding: 5%">
                    </a>
                {% else %}
                    <img src="{{ partner.logo.url }}" style="max-width: 100%; padding: 5%; padding-top: 0%">
                {% endif %}
            </div>
        {% elif partner.link %}
            <div class="ui segment">
                {% include "wbcore/segment_header.html" with icon='handshake' url_alias='partners' title='' %}
                <br>
                <i class="world icon"></i>
                <a target="_blank" rel="noopener noreferrer" href="{{ partner.link }}">{{ partner.link }} </a>
        {% endif %}
    {% endif %}

    {% if event %}
        <div class="ui segment">
            {% include "wbcore/event_details.html" %}
        </div>
    {% endif %}

    {% if photos %}
        <div class="ui segment">
            {% trans "Gallery" as title %}
            {% include 'wbcore/segment_header.html' with icon='image outline' %}
            {% include 'wbcore/gallery.html' with photos=photos %}
        </div>
    {% endif %}

    {% if account %}
    <div class="ui segment">
        {% trans "Donate" as title %}
        {% include "wbcore/segment_header.html" with icon='donate' url_alias='donate' %}
        {% include 'wbcore/bank_account.html' with account=account %}
    </div>
    {% endif %}

    {% if hosts %}
    <div class="ui segment">
        {% include 'wbcore/hosts_map.html' %}
    </div>
    {% endif %}

    {% if ajax_endpoint %}
    <div class="ui segment">
        {% include 'wbcore/list_filter.html' %}
    </div>
    {% endif %}

    {% if annual_reports %}
    <div class="ui segment">
        {% trans "Annual Reports" as title %}
        {% include "wbcore/segment_header.html" with icon='file alternate outline' url_alias='reports' %}
        {% include 'wbcore/document_list.html' with documents=annual_reports show_year=True %}
    </div>
    {% endif %}

    {% if financial_reports %}
    <div class="ui segment">
        {% trans "Financial Reports" as title %}
        {% include "wbcore/segment_header.html" with icon='coins' url_alias='reports' %}
        {% include 'wbcore/document_list.html' with documents=financial_reports show_year=True %}
    </div>
    {% endif %}

    {% if charter_files %}
    <div class="ui segment">
        {% trans "Charter" as title %}
        {% include "wbcore/segment_header.html" with icon='file alternate outline' url_alias='reports' %}
        {% include 'wbcore/document_list.html' with documents=charter_files hide_year=True %}
    </div>
    {% endif %}

    {% if membership_declaration %}
    <div class="ui segment">
        {% trans "Membership Declaration" as title %}
        {% include "wbcore/segment_header.html" with icon='file alternate outline' url_alias='join' %}
        {% include 'wbcore/document_list.html' with documents=membership_declaration hide_year=True %}
    </div>
    {% endif %}

    {% if partner_item_list %}
    <div class="ui segment">
        {% trans "Partners" as title %}
        {% include "wbcore/segment_header.html" with icon='handshake' url_alias='partners' %}
        {% include 'wbcore/item_list.html' with item_list=partner_item_list image_size='small' %}
    </div>
    {% endif %}

    {% if event_item_list %}
    <div class="ui segment">
        {% trans "Events" as title %}
        {% include "wbcore/segment_header.html" with icon='calendar alternate outline' url_alias='events' %}
        {% include 'wbcore/item_list.html' with item_list=event_item_list image_size='small' no_image=True %}
    </div>
    {% endif %}

    {% if project_item_list %}
    <div class="ui segment">
        {% trans "Projects" as title %}
        {% include "wbcore/segment_header.html" with icon='seedling' url_alias='projects' %}
        {% include 'wbcore/item_list.html' with item_list=project_item_list image_size='small' no_image=False %}
    </div>
    {% endif %}

    {% if teams %}
    <div class="ui segment">
        {% trans "Teams" as title %}
        {% include "wbcore/segment_header.html" with icon='user' url_alias='teams' %}
        <div class="ui divided unstackable items">
            {% for team in teams %}
                {% include 'wbcore/team_list.html' with team=team %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if blog_item_list %}
    <div class="ui segment">
        {% trans "Blog Posts" as title %}
        {% include "wbcore/segment_header.html" with icon='globe africa' url_alias='blog' %}
        {% include 'wbcore/item_list.html' with item_list=blog_item_list image_size='small' no_image=False %}
    </div>
    {% endif %}

    {% if news_item_list %}
    <div class="ui segment">
        {% trans "News" as title %}
        {% include "wbcore/segment_header.html" with icon='newspaper outline' url_alias='news' %}
        {% include 'wbcore/item_list.html' with item_list=news_item_list image_size='small' no_image=False %}
    </div>
    {% endif %}

</div>
