{% extends 'wbcore/single_content.html' %}
{% block single-content %}

<div class="ui vertical stripe segment">
  <div class="ui one column stackable grid container content-block">
    <div class="column">
      <div class="ui basic segment">
        <h1 class="ui header">Team</h1>
      </div>
    </div>
  </div>
  <div class="ui container content-block">
    <div class="ui three stackable cards">
    {% for team in teams %}
        {% include 'wbcore/team_card.html' with team=team%}
    {% endfor %}
    </div>
  </div>


</div>
{% endblock %}
