{% load static %}
<div class="item">
  <a class="image" href="{% url 'team' team.host.slug team.slug %}">
    <div class="image">
      {% if not team.image %}
        <div class="image">{% include 'wbcore/svgs/placeholder.svg' with text="Team"%}</div>
      {% else %}
        <img class="ui fluid image" src="{{ team.image.get_display_url }}">
      {% endif %}
    </div>
  </a>
  <div class="content">
    <a class="ui medium header" href="{% url 'team' team.host.slug team.slug %}">{{ team.name }}</a>
    <div class="description">
      {{ team.teaser | truncatewords:10 | safe}}
    </div>
    <div class="extra">
      <a class="details right floated" href="{% url 'team' team.host.slug team.slug %}">› Details</a>
      <span>
        <i class="user icon"></i>{{ team.member.count }}
      </span>
    </div>
  </div>
</div>
