{% load static %}
{% load thumbnail %}
<div class="item">
    <div class="ui circular small image">
        {% if not relation.user.image %}
            {% include 'wbcore/svgs/profile.svg' %}
        {% else %}
            <img class="huhu" src="{{ relation.user.image|thumbnail_url:'profile_team_members' }}">
        {% endif %}
    </div>
    <div class="middle aligned content">
        <a class="header" href="#"><h2>{{ relation.user.name }}</h2></a>
        <div class="meta">
            {{ relation.role }}
        </div>
        <div class="description">
            <p>{{ relation.text | safe }}</p>
        </div>
        <a class="extra" href="mailto:{{ relation.email }}">
            {{ relation.email }}
        </a>
    </div>
</div>
