  <div class="card">
    <div class="image">
      <img src="{{ project.image.get_cardsize_url }}">
    </div>
    <div class="content">
      <div class="header">{{ team.name }}</div>
      <div class="meta">
        <span class="date">Coworker</span>
      </div>
      <div class="description">
        {{ team.description | truncatewords:30 }} 
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{ team.host }}
      </span>
      <span>
        <i class="user icon"></i>
        {{ team.member.count }}
      </span>
    </div>
  </div>
