{% load static %}

<div class="item">
    <div class="ui circular small image">
        {% if not member.image %}
            {% include 'wbcore/svgs/profile.svg' %}
        {% else %}
            <img src="{{ member.image.get_listsize_url }}">
        {% endif %}
    </div>
    <div class="middle aligned content">
        <a class="header" href="#"><h2>{{ member.name }}</h2></a>
        <div class="meta">
            {{ relation.role }}
        </div>
        <div class="description">
            <p>{{ relation.text | safe }}</p>
        </div>
        <a class="extra" href="mailto:{{ relation.email }}">
            {{ relation.email }}
        </a>
    </div>
</div>
