{% extends 'wbcore/basic.html' %}
{% load staticfiles %}
{% block main %}
    {% include 'wbcore/image-header.html' with title=team.name image=team.image default='/images/team_header.jpg' %}
    <div class="ui segment">
        <p>{{ team.description | safe }}</p>
    </div>
    <div class="ui segment">
        <div class="ui divided items">
            {% for member_relation in members_relations %}
                {% include 'wbcore/team_member.html' with member=member_relation.0 relation=member_relation.1%}
            {% endfor %}
        </div>
    </div>
{% endblock %}