{% extends 'wbcore/single_content.html' %}
{% load staticfiles %}
{% block content %}

<div class="ui vertical stripe segment">
  <div class="ui one column stackable grid container content-block">
    <div class="column">
      <div class="ui basic segment">
        <h1 class="ui header">{{ team.name }}</h1>
        {% if not team.image %}
          <div class="image">{% include 'wbcore/svgs/placeholder.svg' with text="Team"%}</div>
        {% else %}
          <img class="ui fluid image" src="{{ team.image.get_header_url }}">
        {% endif %}
      </div>
    </div>
  </div>


  <div class="ui stackable grid container content-block">
    <div class="eight wide column divided items">
      <div class="column-content">
        <div class="ui basic segment">
          <p>{{ team.description | safe }}</p>
        </div>
      </div>
    </div>

    <div class="eight wide column divided items">
      <div id="news-list" class="ui basic segment">
        {% for member_relation in members_relations %}
          <!-- TODO: include relation text member.text (?) -->
          {% include 'wbcore/team_member.html' with member=member_relation.0 relation=member_relation.1%}
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
