<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include "wbcore/head.html" %}
<body>

    {% include 'wbcore/main_nav.html' %}

    {% include 'wbcore/sidebar.html' %}

    <!-- Page Contents -->
    <div class="pusher content">



        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'wbcore/footer.html' %}
    </div>
</body>
</html>
